<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
</head>
<body>
	<h2>Sign Up</h2>

	<form action="/sign_up" method="POST">
		<div>
			<input type="text" name="username" placeholder="username" required>
		</div>

		<div>
			<input type="email" name="email" placeholder="email" required="">
		</div>

		<div>
			<input type="password" name="password" placeholder="password" required>
		</div>

		<button>Submit</button>
	</form>
</body>
</html>