@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap";

*{
	box-sizing: border-box;
	margin:0px;
	padding:0px;
}

html{
	background-image: url("https://i.ytimg.com/vi/TjW1SsvbA9s/maxresdefault.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	height:100%;
}

body{
	background:linear-gradient(90deg, #141E30, #243B55);
	opacity:0.9;
	margin:0px;
	padding: 0px;
	height:100%;
	font-family: 'Open Sans', sans-serif;
}

a{
	color:white;
	text-decoration: none;
}

.container{
	display:flex;
	flex-direction: column;
	align-items: center;
	max-width: 1000px;
	margin: 0 auto;
}

h1{
	color:white;
	font-size: 25px;
}

.login-section{
	background-color: rgba(0, 0, 0, 1);
	max-width: 500px;
	width:100%;
	padding:1em;
}

.form{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 10px;
	text-align: center;
}

input[type="text"], input[type="password"], button{
	max-width:600px;
	width:100%;
	margin:10px auto;
	border-radius: 0px;
	padding:5px;
	font-size: 18px;
}

input, button:focus{
	outline: none;
}

button{
	background:#a10018;
	border:none;
	width:100%;
	color:white;
}

.other-options{
	color:white;
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin-top:10px;
}

.other-options li{
	list-style: none;
}