<!DOCTYPE html>
<html>
<head>
	<title><%=parseId.Title%></title>
</head>
<body>
	<header>
		<!-- Navbar -->
	</header>

	<div class="container">
		<div class="movie-details">
			<div class="title-ratings">
				<h2><%=parseId.Title%></h2>
			</div>

			<!-- PG |||R -->
			<div class="">
				
			</div>

			<!--Poster and other details -->
			<div>
				
			</div>

			<!-- Plot -->
			<div>
				
			</div>

		</div>

		<!-- Comments section -->
		<div>
			
		</div>
	</div>

</body>
</html>