@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap";

*{
	box-sizing: border-box;
	margin:0px;
	padding:0px;
}

html{
	height: 100%;
}

body{
	background:linear-gradient(90deg, #2980B9, #6DD5FA, #FFFFFF);
	color:white;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	height: 100%;
}

/*Global elements styling*/

li{
	list-style-type: none;
}

a{
	font-size:18px;
	color:white;
	text-decoration: none;
}

/*Navbar*/
nav{
	background-color: lightblue;
	display:flex;
	justify-content: space-around;
	align-items: center;
	max-width: 100%;
	width:100%;
}

.logo {
	font-size: 35px;
	color:black;
}

nav ul{
	display: flex;
}

.log{
	color:black;
	font-size: 15px;
	padding:0px 10px;
}

nav a{
	color:black;
}

/* main */
.container{
	max-width: 900px;
	width:100%;
	margin:0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background:linear-gradient(90deg, #141E30, #243B55);
	min-height: 100%;
}

h2{
	margin:20px;
}

.searched-for{
	display:block;
	max-width: 400px;
	word-break: break-all;
	margin:0px 10px 20px 10px;
}

.poster-title{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	max-width: 800px;
	width:100%;
	margin:10px 5px 10px 5px;
	box-shadow: 3px 1px 5px 1px rgba(109,213,250, 0.2);
}

@media screen and (max-width:670px){
	.container{
		max-width:100%;
		width:100%;
	}

	.poster-title{
		max-width:90%;
		width:100%;
		margin:10px auto;
	}

}

.poster-title:hover{
	transform:scale(1.1);
	transition-duration: 0.2s;
}

.poster-title img{
	max-width:75px;
	height:auto;
	border:0.8px solid white;
}

.title{
	margin:0px 10px;
	word-break: break-all;
}

.go-back{
	display:block;
	background:#a10018;
	border:0px;
	width:150px;
	padding:5px;
	margin:20px;
}

/*Footer*/

.contact{	
	background:linear-gradient(90deg, #141E30, #243B55);
	text-align:center;
	max-width: 900px;
	margin:0 auto;
	position: relative;
	bottom:0px;
	padding:0px;
}

.contact a{
	display:inline-block;
	padding:10px;
}

ion-icon{
	font-size: 35px;
}

.contact p{
	padding:0px 5px 5px 5px;
	vertical-align: middle;
}

@media only screen and (max-width:700px){
	nav{
		padding:5px 10px;
	}

	.logo{
		font-size: 30px;
	}

	.contact p{
		font-size: 14px;
	}

}