html{
	background:linear-gradient(90deg, #2980B9, #6DD5FA, #FFFFFF);
}

body{
	margin:0 auto;
	margin-top:0px;
	padding:0px;
	width:70%;
	background:linear-gradient(90deg, #141E30, #243B55);
	color:white;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	text-align: center;
	padding-bottom: 10px;
}

h2{
	padding:5px;
	margin-top: 0px;
	text-align: center;
	color:white;
}

li{
	font-size:18px;
	line-height: 150%;
	list-style: devanagari;
}

.flex-container{
	margin:auto;
	padding:4px;
	display:flex;
	flex-direction: row; 
	justify-content: center;
	flex-wrap: wrap;
}

.child-flex{
	
	padding:15px;
}

#contact{	
	text-align:center;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

ion-icon{
	padding-top:5px;
	margin:0px;
	font-size: 35px;
	padding-left: 20px;
	padding-right: 20px;
}

img{
	border:0.8px solid white;
	width: 280px;
	height:400px;
}

img:hover {
	transform: scale(1.3);
}

button{
	background:#a10018;
	border:0px;
	width:30%;
	height:30px;
}

a{
	font-size:18px;
	color:white;
	text-decoration: none;
}