*{
	box-sizing: border-box;
}	

.container{
	max-width: 900px;
	width:100%;
	margin:0 auto;
	border:1px solid black;

}

header{
	background-color: lightblue;
	display:flex;
	justify-content: space-around;
	align-items: center;
	position:fixed;
	max-width: 100%;
	width:100%;
	top:0;
	left:0px;
}

ul{
	display: flex;
}

.frame_1{
	margin-top:60px;
	display: flex;
}

.poster{
}

.title-ratings{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.logo img{
	width:5vw;
}

.audience_ratings{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}