<!DOCTYPE html>
<html>
<head>
	<title>Review: <%=film.split('_').join(' ')%></title>
</head>
<body>
	<form action="" method="POST">
		<label>Name: <input type="text" name="userName" placeholder="what's your name"></label>
		<div>
			<textarea rows="4" cols="50">
			
			</textarea>
		</div>
		<input type="submit" name="submit" value="Submit">
	</form>
</body>
</html>