<!DOCTYPE html>
<html>
<head>
	<title>Review: <%=film.split('_').join(' ')%></title>
</head>
<body>
	<form action="/title/<%=film%>/comments" method="POST">
		<h2>Hi <%=user%></h2>
		<div>
			<textarea rows="4" cols="50" name="review"></textarea>
		</div>
		<input type="submit" name="submit" value="Submit">
	</form>
</body>
</html>