@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap";

*{
	box-sizing: border-box;
}

html{
	background-image:url("https://i.ytimg.com/vi/TjW1SsvbA9s/maxresdefault.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	height:100%;
}

body{
	background:linear-gradient(90deg, #141E30, #243B55);
	opacity:0.9;
	margin:0;
	height:100%;
	font-family: 'Open Sans', sans-serif;
}

.container{
	max-width: 1000px;
	margin:0 auto;
	display:flex;
	flex-direction: column;
	align-items: center;
	text-align:center;
}

h1{
	color: white;
	word-wrap:break-word;
}

.form{
	max-width:700px;
	width:100%;
	display: flex;
	flex-direction: column;
	padding:10px;
	background-color: black;
}

textarea, input[type="submit"]{
	max-width: 700px;
	width:100%;
	padding:10px;
	font-size: 18px;
}

textarea {
	height:150px;
}

input[type="submit"]{
	background: #a10018;
	color:white;
	border:none;
	margin-top:5px;
}

