@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap";

/*Global elements*/
*{
	box-sizing: border-box;
}

body{
	background:linear-gradient(90deg, #141E30, #243B55);
	font-family: 'Open Sans', sans-serif;
}

li{
	list-style-type: none;
}

a{
	text-decoration: none;
	color:black;
}

.container{
	max-width: 800px;
	width:100%;
	margin:0 auto;
	background-color: linear-gradient(90deg, #2980B9, #6DD5FA, #FFFFFF);
}

header{
	background-color: lightblue;
	display:flex;
	justify-content: space-around;
	align-items: center;
	position:fixed;
	max-width: 100%;
	width:100%;
	top:0;
	left:0px;
}

.logo a{
	font-size: 35px;
}

nav{
	padding:0px;
}

nav ul{
	display: flex;
	padding:0px;
}

nav ul li{
	padding:0px 10px;
}

/*Frame_1*/

.frame_1{
	margin-top:60px;
	display: flex;
	justify-content: center;
}

@media screen and (max-width:800px){
	.frame_1{
		margin-top:120px;
	}
}

.poster img{
	max-width: 250px;
	border:4px solid black;
}

.title-ratings{
	max-width: 600px;
	width:100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 0px;
	height:auto;
	margin-left: 10px;
	overflow: hidden;

}

@media screen and (max-width:480px){
	.title-ratings{
		background:white;
		overflow: hidden;
		width:0px;
	}
}

.line_through{
	background:linear-gradient(90deg, #2980B9, #6DD5FA);
	width:100%;
	max-width: 100%;
	top:25px;
	text-align: center;
	height:50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:white;
	font-size: 25px;
}

@media screen and (max-width:800px) {
	.line_through{
		max-width: 100%;
		position:absolute;
		top:60px;
		left:0px;
		width:100%;
		z-index:-1;
	}
}

@media screen and (max-width:520px) {
	.line_through{
		height:60px;
	}
}


.audience_ratings{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top:30px;
}

@media screen and (max-width:480px){
	.audience_ratings{
		background-color: white;
		position:absolute;
		width:100%;
		top:600px;
		left:0px;
		z-index:-1
	}	
}

.logo img{
	max-width:200px;
	width:100%;
	height:40px;
}

.imdb, .rotten_tomatoes, .metacritic{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding:20px;
	max-width:200px;
	width:100%;
}

.ratings{
	display: flex;
	justify-content: center;
	align-items: center;
	max-width:50px;
	width:100%;
	font-weight: 600;
	font-size: 20px;
}

.plot{
	display:flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

@media screen and (max-width:500px){
	.plot{
		justify-content: center;
		align-items: center;
		text-align: center;
	}
}

@media screen and (max-width:480px){
	.plot{
		display:flex;
		position:absolute;
		background-color: white;
		max-width: 100%;
		width:100%;
		top:500px;
		left:0px;
		z-index:-1;
		padding-bottom: 10px;
	}
}


.plot .plot_heaeding{
	font-weight: 600;
	margin-bottom:0.5px;
}

.plot .storyline{
	margin:0;
	font-style: italic;
	padding-left:30px;
	padding-right:30px;
}