.frame_2{
	margin-top:20px;
	background-color:white;
}

.heading_BG{
	background:linear-gradient(90deg, #2980B9, #6DD5FA);
	padding-left:0px;
}

.heading_BG .heading{
	background-color:white;
	max-width:100px;
	text-align: center;
}

.more_info{
	padding: 5px 20px 20px 10px;
}

@media screen and (max-width:480px){
	.more_info{
		padding: 10px 0px 10px 10px;
	}
}

.more_info .other_info{
	display:flex;
	justify-content: flex-start;
	align-items: center;
}

.more_info .other_info .catagory{
	max-width:150px;
	width: 100%;
	word-wrap:break-word;
	font-weight: 600;
}

.other_info p{
	margin-top:0;
	margin-bottom:0px;
	font-size:14px;
	word-wrap:break-word;
	vertical-align: middle;
}

.result{
	margin-left:15px;
	max-width:300px;
}